body {
    margin: 0;
    padding: 0;
}

.carousel__item {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.carousel__item a {
    background-position: center;
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.carousel__item a.first {
    background-image: url("../img/img1.jpg");
}

.carousel__item a.second {
    background-image: url("../img/img2.jpg");
}

.outer_trap {
    position: absolute;
    right: 0;
    top: -20px;
    width: 45%;
    height: 100%;
    overflow: hidden;
    border-right: 20px solid #8ac33f;
    padding: 0;
    margin: 0;
    z-index: 10;
}

.inner_trap {
    position: absolute;
    right: -25%;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-transform: skewX(20deg);
    -ms-transform: skewX(20deg);
    -o-transform: skewX(20deg);
    transform: skewX(20deg);
}

.content {
    border: 20px solid #8ac33f;
    width: 100%;
    height: 93%;
    background-color: #fff;
}

.slider {
    margin-top: 40px;
    position: relative;
}

.trapezoid__img {
    background: url("../img/trap1.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
    transform: skewX(-20deg);
}